:root {
  --main-color: #BF07F5;
  --bg-color: #E9DCE7;
  --card-bg-color: #BEA1DB;
  --white-color: #fff;
  --border-color: #999;
}


body,div {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans Caption', sans-serif;
  background-color: var(--bg-color);
  font-size: 14pt;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  background-color: inherit;
  padding: 0 20px;
}

.back-link {
  position: fixed; 
  left: 10px;
  top: 10px;
}

.navigation {
  background-color: var(--main-color);
  padding:20px 10px;
  margin-bottom: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .7);
}

.logo {
  position: absolute;
  top:10px;
  display: flex;
  justify-content: center;
}

.logo p{
  font-family: 'Rampart One', cursive;
  color: var(--white-color);
  font-size: 1.8em;
}

.logo img {
  width: 6em;
}

.navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.navigation li {
  padding: 5px 25px;
}

.navigation a {
  font-size: 0.8em;
  text-decoration: none;
  color:var(--white-color);
  text-transform: uppercase;
}

.literary-references {
  padding: 40px 20px;
  overflow: hidden;
}

footer {
  background-color: var(--card-bg-color);
  padding: 10px 30px;
}

footer p {
  font-size: 1.2em;
}

footer a {
  text-decoration: none;
}
