.guitar-list {
  width: 70%;
  margin: 30px auto;
  border-collapse: collapse;
}

.guitar-list-header {
  background-color: var(--card-bg-color);
  font-weight: bold;
}

.guitar-list a {
  text-decoration: none;
  font-size: 1.3em;
  color: inherit;
}

.guitar-list img {
  width: 40px;
  border-radius: 5px;
}

.guitar-list td, th {
  background-color: inherit;
  font-weight: inherit;
  font-size: 1.1em;
  padding: 10px 25px;
  text-align: center;
  border-bottom: 2px solid var(--border-color); 
 }

.guitar-list img {
  width: 100px;
}

.type-title {
  margin: 0;
  font-size: 0.4em;
}

.guitar-list tr:not(:first-child)  {
  transition: all 0.3s ease;
}

.guitar-list tr:not(:first-child):hover  {
  background-color: rgba(0, 0, 0, .1);
}